[2019-12-01 16:49] Joentje opened #4 "Error opening configuration file"
When a configuration is not present, it will fail to connect.

You will get an error like this:

[code]

[2019-12-23 10:42] Joentje commented on #4
#5

[2019-12-23 10:57] #4 closed

[2019-12-23 10:57] Joentje commented on #4
Fixed in #5

[2019-12-25 23:12] wxdczd opened #8 "Hope to set the number of failures"
Hope to set the number of failures
There is "!" In the password, and the result is a circular download.

[2019-12-26 08:50] Joentje commented on #8
I did a check on a password with symbols. But I cannot reproduce it. Do you see the correct password when you execute the following command?

`docker exec vpn bash -c 'echo "$PASSWORD"'`

You probably see something like this in the logs:
[code]
And this will be in a endless loop?

To have a number failures is a good idea, I will check what I can do for that.

[2019-12-26 11:26] wxdczd commented on #8
[code]

docker exec vpn bash -c 'echo "$PASSWORD"'
PASSWORD=123456

If the password is wrong, it will run all the time and will not stop by itself.
Will download from the NordVPN website in a cyclical manner, keep trying passwords, affecting the website.

I use ‘docker ps’ and I see that it works. Did not look at the log. Downloaded several G files.（Within an hour）
docker exec vpn ifconfig -- can

[2020-01-21 23:33] VMax2 opened #9 "No environment option available to set up the UDP protocol"
TCP protocol seems to be the default one and there is not the possibility to change it

Following are the messages i hope will be fixed if possible:

Wed Jan 22 00:23:31 2020 NOTE: --fast-io is disabled since we are not using UDP

Tue Jan 21 23:32:36 2020 WARNING: --ping should normally be used with --ping-restart or --ping-exit,

Tue Jan 21 23:32:37 2020 WARNING: this configuration may cache pass

[2020-01-22 06:37] Joentje commented on #9
Thanks for creating an issue.

I have done some small changes. You can now use the UDP protocol as well. See #10 . To use it, use the latest tag: jeroenslot/nordvpn-proxy:latest. It will be released later.

For the DNS part, you want to set it yourself? You can already, see the readme: https://github.com/Joentje/nordvpn-proxy#start-container

[2020-01-22 11:33] VMax2 commented on #9
Thank you for your quick reply, well, i didn't see previously the part about the PROTOCOL, i passed it at container creation with -e PROTOCOL="udp" but looking the log file the container stay still with the tcp ,

Wed Jan 22 12:12:32 2020 Attempting to establish TCP connection with [AF_INET]37.120.201.219:443 [nonblock]
Wed Jan 22 12:12:33 2020 TCP connection established with [AF_INET]37.120.201.2

[2020-01-22 16:52] Joentje commented on #9
No Problem, I see what the problem is. My fault :).

Can you try again? Pull the latest: jeroenslot/nordvpn-proxy:latest again

[2020-01-22 22:08] VMax2 commented on #9
Hi, now i can't start the container, when i pull the image with docker run -d etc etc , it pull the image, the container is created but when it start i have this error from bash:

docker: Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container process caused "exec: \"sudo\": executable file not found in $PATH": unknown.

:-)

[2020-01-23 18:15] Joentje commented on #9
I don't understand why its complaining about sudo. There is no sudo used.

Do you pass an extra command to the container?

[2020-01-23 21:42] VMax2 commented on #9
No, just the indicated parameters... anyway, i deleted the image and pulled it again and now it work like a charm, don't know why but now the UDP protocol is working and the container too!!
What it's still not working is the dns change, i useded the --dns=xxx.xxx.xxx.xxx --dns=yyy.yyy.yyy.yyy at container creation but looking the log file i still find:

Thu Jan 23 22:14:00 2020 PUSH: Received cont

[2020-03-28 13:26] BobWs opened #14 "How to setup to work with Pi-hole"
Hi,
Any though how to setup this container/image to work with pi-hole?
I would like to serve my LAN network to go though VPN and be protected by pi-hole for ads.
I'm on Synology NAS.
So far I've manage to start the container and when setting up the proxy via e.g. FireFox I can surf the net via NordVPN, but I can't seem to get it to work with Pi-hole in combination with your container.

[2020-03-28 16:37] zilexa opened #15 "Should firewall be enabled?"
First of all thank you for this, it's amazingly simple to setup!
I first found a different solution and noticed an issue report that recommended to enable the firewall:
https://github.com/sebgl/htpc-download-box/issues/19

quoting the reporter of that issue:

Would this apply to your solution as well? If so, how can we enable the firewall?

[2020-03-28 21:19] zilexa opened #16 "can't connect to any webui"
As I am still learning, I don't know how to debug this one any further.
My docker apps work fine, but not if I run them via the nordvpn-proxy. I have defined the ports required for them (moving them in my docker-compose.yml to nordvpn-proxy).

Here is my docker-compose.yml: https://github.com/zilexa/Mediaserver/blob/master/docker-compose.yml

By commenting out the ports under nordvpn-proxy and add

[2020-03-29 10:08] Joentje commented on #14
Did you try to change the dns settings --dns=103.86.96.100 to your pi-hole instance?

I guess you already changed the dns in your router?

[2020-03-29 13:01] zilexa commented on #16
Never mind.
Your solution works. What went wrong: I ran my docker-compose.yml -up again with a slightly different CIDR, after that, even if I changed it back to the correct CIDR, I could not access any webui that ran via the VPN network. Even after deleting the container. I ended up deleting everything: containers, images, the folders in /docker folder and ran my docker-compose.yml. It works now.

[2020-03-29 13:01] #16 closed

[2020-03-29 14:19] zilexa commented on #16
Unfortunately, there does seem to be something wrong here.
After the container has been created for the first time via compose, everything works. I can access the webuis via the ports that I have opened via the vpn config in my compose file.

If I want to open another port, via docker-compose.yml, I change my yml file and run it. After the docker_vpn_1 is recreated, and the container is running (c

[2020-03-30 06:27] BobWs commented on #14
Yes DNS is set to NordVPN
This is my vpn config:
`docker pull jeroenslot/nordvpn-proxy:latest`
`docker run -d \`
` --cap-add=NET_ADMIN \`
` --device=/dev/net/tun \`
` --name vpn \`
` -v /volume1/docker/openvpn:/app/ovpn/config \`
` -v /etc/localtime:/etc/localtime:ro \`
` --network=pihole_network \`
` --ip=192.168.178.52 \`
` --hostname='vpn' \`
` --dns=103.86.96.100 \`
` --dns=103.86.99.100 \`
`

[2020-03-30 10:26] zilexa commented on #14
But isn't that exactly what you are configuring? By running VPN to connect your host to the outside world but using your PiHole DNS, you are configuring a DNS leak.. What is your end goal?

The PiHole documentation regarding VPN is about a different use case: you connect remotely via a client device via VPN to your host which runs PiHole to use the DNS of PiHole. Your host device (not NordVPN) is

[2020-03-30 17:47] BobWs commented on #14
Thanks for sharing. I’m using the built in openvpn client of my Synology to protect my lan from ads with pi-hole and surfing through vpn. For me it is much easier to configure and get the job done. For now I’m skipping the docker vpn adventure. So thanks for the help.

[2020-03-30 17:47] #14 closed

[2020-04-03 16:30] rwalsh0975 commented on #15
That issue refers to specifically when the VPN has trouble connecting and is part of a packaged solution containing multiple containers.  Allowing connections only through the VPN/proxy container is going to depend on your particular setup (which is what I assuming you're getting at by saying "enable the firewall")

[2020-04-03 17:25] Joentje commented on #15
For me it not really clear what you mean. Do you want to block certain traffic? If the VPN cannot connect, the containers using the containers network cannot connect as well.

Can you maybe explain little bit more?

[2020-04-05 23:16] bennyb0y opened #17 "support for ARM (Raspberry pi)"
Any chance you could publish an ARM version?

`standard_init_linux.go:211: exec user process caused "exec format error"`

[2020-04-27 12:59] Shadow7714 opened #18 "Not able to manually select a country"
Docker image is not able to recognize any country codes.

If no country is specified, it does work fine.

But I would like to VPN trough another country (Switzerland), but then I only see this going by in the logs and it doesn't work:

`

[2020-04-27 17:04] Joentje commented on #17
I will take a look. Give me some time :)

[2020-04-27 17:50] Joentje commented on #18
Which version are you using of the Docker image?

Can you provide the run command? Just tested it with `latest` tag, this works fine. The 1.0.1 version does not support COUNTRY. Needs to be in a new release :)

[2020-04-27 18:14] Shadow7714 commented on #18
I executed this command today:

This automatically downlaoded the lastest available image from Docker Hub.

[2020-04-27 20:05] zilexa opened #19 "Support for WireGuard (NordLynx)"
As NordVPN is ramping up their support for WireGuard instead of OpenVPN and even introduced their own "label" for it called NordLynx, are you planning to add support for it?

[2020-04-29 05:44] Joentje commented on #19
I think it is a good idea to take a look. Do you know the current state of Wireguard? As far as I know it was not audited yet.

Need to look at NordLynx though.

[2020-04-29 17:01] Joentje opened #21 "Create a randomize"
Thanks to @brandomr
Also, for some tasks, it may be beneficial to periodically rotate the VPN address. This could be managed by the container with some randomize flag, or it can be managed by an external process. This PR allows the user to control this connection criteria through an external process.

As an example, if you are connected to `us1000` for 10 times with a good load (<75). Make it poss

[2020-04-29 17:58] zilexa commented on #19
It's already part of the Linux kernel that came out recently  The code has been reviewed several times, but the only one I read about was Linus Torvalds.
Just not sure about official or trustworthy audits.

[2020-05-01 12:50] BobWs commented on #19
Maybe you could cherry pick some of this container. This guy has WireGuard support. But his docker container is very confusing to setup. I do like the simplicity and easy setup of your docker image.
But it could use some more setup preferences though, like e.g.:

    Provide a [country] argument to connect to a specific country. For example: Australia
    Provide a [server] argument to connecto to

[2020-05-02 13:24] Joentje commented on #9
The UDP setting is now part of release 1.0.2 :)

[2020-05-18 13:11] jlo88 opened #24 "Stuck in downloading ovpn files"
I'm stuck in an infinite loop of:
```Download and extract ovpn files```

Where can I look for the problem?
Edit: There was  DNS problem, my bad!

[2020-05-18 13:15] #24 closed

[2020-05-24 13:40] BobWs opened #25 "Can you add Cyber security"
Hi can you add cyber security as how this guy has added it to his image. https://github.com/bubuntux/nordvpn

Thank for sharing your image and the easy setup. Cyber security is the only thing missing at the moment.

[2020-05-31 11:28] Shadow7714 commented on #18
Is version 1.0.2 the new release? It also doesn't work...

[2020-05-31 11:34] Joentje commented on #18
Yes. See the release notes [1.0.2](https://github.com/Joentje/nordvpn-proxy/releases/tag/1.0.2)

[2020-05-31 11:35] Shadow7714 commented on #18
Then why am I still getting these exact same errors?

[2020-05-31 11:36] Joentje commented on #18
Sorry, closed too fast. Can you sent me the command that you are trying?

[2020-05-31 11:40] Shadow7714 commented on #18
After I deleted the old image from my NAS, i executed:

`docker run -d -ti --cap-add=NET_ADMIN --device=/dev/net/tun --name=nordvpn4 --hostname=nordvpn4 --dns=192.168.0.194 --restart=unless-stopped --network=physical_network_noproxy --ip=192.168.0.196 -e "USERNAME=yuri@vanleeuwennet.nl" -e "PASSWORD=****" -e "PROTOCOL=udp" -e "COUNTRY=CH" -v /etc/localtime:/etc/localtime:ro -v ovpn-data:/app/ovpn/

[2020-05-31 11:59] Joentje commented on #18
If you don't set the environment `COUNTRY`. Does it then work for you?

Looks like the command: `https://nordvpn.com/wp-admin/admin-ajax.php?action=servers_recommendations&filters={%22country_id%22:106}` gets an `Connection reset by peer`.

Can you do some debug on network side?

[2020-05-31 12:09] Shadow7714 commented on #18
That does work, but that kinda eliminates the reason why I'm using NordVPN.

[2020-06-01 07:30] Joentje commented on #18
Yeah I know, but that confirms what doesn't work.

Can you perform this command inside the container?
[code]
Do you get a JSON with info from the server?

What do you get if you run the command on your NAS?

It can be the case that your DNS is not set to the correct IP.

[2020-06-01 17:24] Shadow7714 commented on #18
Shadow@NAS3:/$ sudo curl https://nordvpn.com/wp-admin/admin-ajax.php?action=servers_recommendations&filters={%22country_id%22:106}
[1] 4059
Shadow@NAS3:/$

[2020-06-02 06:12] Joentje commented on #18
Sorry, the process id doesn't really help me :). Looks like btw you don't get a response. Looks something on your side.

Can you try to save it to a file, maybe that gives an error.

Looks like you are not performing the command from inside the container?

[2020-06-30 10:15] pipja opened #26 "I get an error when trying to run this on a Raspberry Pi 3"
this is the output:

`standard_init_linux.go:211: exec user process caused "exec format error"`

Any idea what's happening?

[2020-06-30 10:32] Joentje commented on #26
There is no support yet for ARM. The issue is the same as #17

[2020-06-30 10:32] #26 closed

[2020-06-30 11:36] pipja commented on #26
@Joentje I actually managed to do it by compiling the image on the pi itself. Works like a charm now. Cheers.

[2020-06-30 11:50] Joentje commented on #26
@pipja cool! :)

[2020-06-30 12:15] pipja commented on #17
@bennyb0y
Hey there,
After a lot of messing around, I made a dockerhub account, downloaded Docker Desktop, built and uploaded the docker containers for ARM at https://hub.docker.com/repository/docker/pipja/nordvpn-proxy
Otherwise, you could also pull @Joentje 's git repo and build it directly on the pi, it will work as well.

Cheers.

[2020-06-30 15:10] bennyb0y commented on #17
@pipja,

I just pulled it, and it looks like its working! Seems like the whole world is going arm anyway so I'm sure its good practice.

-b

[2020-06-30 22:16] pipja commented on #17
I'm still trying to figure out how to specify the architectures for automated builds on dockerhub, but I doubt they have that atm.

[2020-07-01 00:49] bennyb0y commented on #17
@pipja , Have you been able to get it to work? It looks like there are some cert issues now.

[code]

**From here it breaks:**
[code]

[2020-07-01 01:29] pipja commented on #17
yeah I get that too, I guess that is a new problem

[2020-07-01 01:50] pipja commented on #17
They tweetted about it here: https://twitter.com/NordVPN/status/1278141880220487680

[2020-07-01 01:58] bennyb0y commented on #17
@pipja

Ahh, looks like a much bigger issue.

[2020-07-01 06:28] Joentje commented on #17
@bennyb0y @pipja It should be fixed now

[2020-07-01 06:30] Joentje commented on #17
I could not find that option, I think the only way is to use a thirdparty tool or build locally. Now I use automated triggers based on branches and tags.

[2020-07-03 15:20] #17 closed

[2020-07-26 15:05] Joentje commented on #9
If you still have issues, please create a new issue :)

[2020-07-26 15:05] #9 closed

[2020-09-15 11:57] ndwalters opened #27 "Is privoxy in effect"
Is privoxy in effect (by filtering web traffic) or just functioning as a proxy only?

I cant seem to get Deluge to access certain sites via the docker image.

[2020-09-15 12:35] Joentje commented on #27
@ndwalters as far as I know only for proxy only. So you can use a plugin in for example chrome to route traffic using privoxy that will use the vpn.

If you want to route traffic from Deluge through the vpn, you can use the option to use other Docker container network. Only if Deluge is running in a container.

[2020-09-27 15:47] zilexa opened #28 "Question: remotely access my server via VPN, access services running via nordvpn-proxy"
Background: Ubuntu Budgie 20.04.1 on an Intel based server/workstation, using Docker and Compose to build my homeserver.

Just wondering if this would be possible:
Currently I have a few Docker services running smoothly via the NordVPN-proxy docker. I can access their webUIs as long as I am within my LAN (192.168.88.0/24). All works fine.

Now I install PiVPN on the server, and set up Wireguard VP

[2020-10-05 16:00] #18 closed

[2020-10-22 09:59] seb2point0 opened #29 "Command to switch server"
Is it currently possible to switch VPN servers by sending a command to the container, or is this only way to do this to restart the container?

[2020-10-22 17:11] Joentje commented on #29
@seb2point0 Currently that's indeed the only way to switch a VPN server

[2020-10-23 05:38] Joentje commented on #28
@zilexa I think it has to due to network isolation of the Docker network. Maybe you can expose the Docker services via multiple Docker networks. Or expose the UI's via a reverse proxy like Nginx.

[2020-10-23 05:38] #27 closed

[2020-11-04 17:29] MurattuW opened #31 "Why LOCAL_NETWORK is useful?"
Hello,

I have commented the line:
https://github.com/Joentje/nordvpn-proxy/blob/563d80f591c7532eeaa4bab2dc2eb9d7495e6fe2/app/privoxy/run#L7

And it works just fine. Why this line is needed?

Best regards,

[2020-11-04 19:05] MurattuW commented on #31
Okay, never mind... Without LOCAL_NETWORK it only works on the main host, not on other computers over the same network. But I still don't exactly understand why this is needed. Is there any alternatives?

[2020-11-07 17:39] Joentje commented on #31
That's indeed the case, you will need to specify your local network. I'm not aware of an other solution.

[2020-11-16 11:03] dkalive2017 opened #32 "Can't access privoxy"
I've set up the configuration exactly as it should be but no ports seem to be coming through (including Privoxy)

[2020-11-16 12:01] NealBozeman commented on #32
Can you post your logs?
```docker logs vpn -f```

Mine are repeating the following for the last week:

[code]

I've tried re-creating ovpn-data volume, and have tried image 1.0.2 as well as latest.

[2020-11-16 12:36] dkalive2017 commented on #32
2020-11-16 13:02:47 INFO: Removing current cronfile,
2020-11-16 13:02:47 INFO: Download and extract ovpn files,
2020-11-16 13:02:47 INFO: Creating new cronfile,
2020-11-16 13:02:47 INFO: Your cron settings (*/15 * * * *) will be applied!,
2020-11-16 13:02:50 INFO: OVPN files successfully unzipped to /app/ovpn/config,
2020-11-16 13:02:50 INFO: SERVER has not been set, choosing best for you.,
2020-1

[2020-11-16 14:56] Joentje commented on #32
@dkalive2017 can you share the run command or compose? Are you exposing the ports?

[2020-11-16 15:01] dkalive2017 commented on #32
I'm using portainer and I'm not 100% sure how to export it, however here is my main settings (I've censored the username and password):

        "Env": [
            "USERNAME=censored",
            "PASSWORD=censored",
            "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",
            "OVPN_FILES=https://downloads.nordcdn.com/configs/archives/servers/ovpn.zip",

[2020-11-16 16:07] dkalive2017 commented on #32
Please let me know if you need any more information :)

[2020-11-16 17:02] Joentje commented on #32
Seems to me that you are not exposing the port for Privoxy. Did you manually created this container in Portainer?

You will need to fill in the port configuration, for Privoxy host you can choose port 8118 or something else, and container needs to be port 8118.
<img width="811" alt="Screenshot 2020-11-16 at 17 55 03" src="https://user-images.githubusercontent.com/1453060/99283525-6a7eba80-2835-11e

[2020-11-16 17:14] dkalive2017 commented on #32
Yeah, I did it manually. I did add the ports as well (see below)

I can't seem to work out what's going on...

<img width="1584" alt="Screenshot 2020-11-16 at 17 13 00" src="https://user-images.githubusercontent.com/33801029/99285131-11138d00-282f-11eb-994b-bd6b9d431b2e.png">

[2020-11-16 17:15] dkalive2017 commented on #32
Sorry, I thought it was also worth pointing out that the port mapping is working fine with other containers, just not this particular one.

[2020-11-16 17:49] #31 closed

[2020-11-16 18:46] dkalive2017 commented on #32
I'm thinking this line is the issue. It doesn't seem to show any IP.

2020-11-16 13:02:57.708 7ff4e98a9d48 Info: Listening on port 8118 on IP address 0.0.0.0,

[2020-11-18 16:04] dkalive2017 commented on #32
I've just tried creating this again but still seem to be having the same issue with the privoxy or any other ports.

[2020-11-19 18:15] vojthor commented on #32
Something weird is going on with ports... when ports to expose are set (and something else than 8118 on host) its ignoring it and even if there is no setting 8118 is accesible...

[2020-11-19 21:38] HVK500 opened #33 "Potential ARM tag"
Any chance of an ARM version being in the works?

[2020-11-20 08:10] dkalive2017 commented on #32
I can't seem to access open ports on this particular contain at all.

[2020-11-20 13:00] Joentje commented on #32
Just did some check locally. I don't see anything wrong on my side. Can you maybe tell me a bit more on you environment setup? Like OS, or NAS etc?

What happens if you create the container without Portainer?

Do you see a page when you go to http://localhost:8118 if you run it locally? If yes, what do you see? What do you see if you do a `docker exec containerid curl localhost:8118`?

[2020-11-20 13:16] dkalive2017 commented on #32
Thanks for your reply! So I tried to go to the host with :8118 but it doesn't work. I'm currently on Ubuntu 20.04.1. As mentioned, all other containers seem to work fine, it just seems to be this one. I haven't yet tried without Portainer.

I also tried the command and saw this:

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload

[2020-11-20 14:31] Joentje commented on #32
I'm using the same version of Ubuntu. Did you see the same message when you did go to `http://localhost:8118`? Or else try `curl localhost:8118`

[2020-11-20 18:31] Joentje commented on #33
@HVK500 I'm trying to fix it in #34 . Can you try the latest tag?

[2020-11-20 19:21] Joentje commented on #26
@pipja You can now try the latest tag. I'm trying to fix it in #34

[2020-11-20 19:21] Joentje commented on #17
@bennyb0y You can now try the latest tag. I'm trying to fix it in #34

[2020-11-21 09:08] HVK500 commented on #33
Will give it a try when I get a chance 👍😊

[2020-11-21 09:18] dkalive2017 commented on #32
Yeah it's the same for both :(

[2020-11-21 09:30] dkalive2017 commented on #32
Could this be anything significant? Under the health check I'm seeing:

**_sh: Protected: unknown operand_**

[2020-11-22 16:31] Joentje commented on #32
@dkalive2017 can you do an `docker exec -it containerid bash` and run this command: `curl -s https://api.nordvpn.com/vpn/check/full | jq -r '.["status"]'`, what is the output?

[2020-11-22 16:45] dkalive2017 commented on #32
It just seems to return to a new line (me doing it twice below):

bash-5.0# curl -s https://api.nordvpn.com/vpn/check/full | jq -r '.["status"]'
bash-5.0# curl -s https://api.nordvpn.com/vpn/check/full | jq -r '.["status"]'
bash-5.0#

[2020-11-25 08:40] dkalive2017 commented on #32
I added "/dev/net/tun" to devices but it still doesn't seem to be working :(

[2020-11-26 09:37] matt-laird commented on #33
Seems to be working, good job

[2020-11-26 09:37] #33 closed

[2020-11-29 10:58] matt-laird commented on #32
@dkalive2017, you mentioned you can't access any of the open ports that makes me suspect the local network setup is not correct. Make sure that your CIDR mask (LOCAL_NETWORK env var) is set correctly according to how your network is setup. I had to change mine from the default, depending on your router and such, you may need to change it to something like this: 192.168.0.0/16
Do some research to f

[2020-11-30 10:24] drewkirkproductions commented on #32
Yeah I've checked this and its currently set to:

192.168.0.0/16

This seems to work fine for another OpenVPN docker (which doesn't fit my needs).

[2020-11-30 13:44] bulletprooffool commented on #19
Have you had any luck with this?
I've seen a few other containers now supporting NordLynx - perhaps these can help? - https://github.com/bubuntux/nordvpn

[2020-11-30 18:55] Joentje commented on #19
@BobWs I totally agree. That's the goal, to keep it simple and efficient.

@bulletprooffool No, I didn't have the time to take a look at NordLynx.

[2020-11-30 18:56] #28 closed

[2020-11-30 19:06] bulletprooffool commented on #19
Thanks - will keep a watch. I get a 400% speed increase on NordLynx - which makes a huge difference if I’m routing streaming etc.
Irrespective - thanks for the effort - this is a super bit of work.
On 30 Nov 2020, 18:56 +0000, Jeroen <notifications@github.com>, wrote:

[2020-12-08 09:12] NealBozeman opened #42 "IP blocked by Cloudflare (HTTP 403)"
Nordvpn-proxy cannot curl server lists from domains used to start the VPN connections because these domains have been blocked for my server IP address

- https://api.nordvpn.com
- https://downloads.nordcdn.com/configs/archives/servers/ovpn.zip

**returns "HTTP/2 403 forbidden,"** so the startup scripts endlessly try to re-curl to load the server info. I can override OVPN_FILES with a custom locati

[2020-12-21 04:05] thanhpv15 opened #44 "Access privoxy from internet"
Hi guys,
I setup container on my vps that is running centos.
It's ok when I test privoxy on localhost, here is command:
curl http://ip-api.com/json -x 127.0.0.1:8118

But, I cannot access to that privoxy from my pc. I tested with vimagick/privoxy image and it's just fine.
I missing some configs?

[2020-12-21 07:36] Joentje commented on #44
Hi @thanhpv15, do you need to open ports/protocols from you're vps, so it will be accessible for you?

When you go to: http://your-vps-ip:8118, what do you see?

In this image the default settings for privoxy will be used, I see that vimagick/privoxy is setting a few options in the config. So it can be the case something is missing in this case.

[2020-12-21 09:54] ChTPwner opened #46 "Newest image broken ?"
I use Watchtower to automatically pull the latest images.

About 30 minutes ago, the [latest version](https://hub.docker.com/layers/jeroenslot/nordvpn-proxy/latest/images/sha256-3cddb424837aa3d71a051d6e69acdbcd19b72f16f02ae60da0e6770fc20dcacf?context=explore) broke my install.
No internet via proxy, and the the containers running through nordvpn-proxy failed.

Couldn't find any error in the logs o

[2020-12-21 10:59] Joentje commented on #46
Can you tell me which environment variables you are using?

[2020-12-21 12:03] ChTPwner commented on #46
[code]

[2020-12-21 15:36] Joentje commented on #46
This image does not support these:
      - CONNECT=France   -> You can use `COUNTRY=fr` to connect to France.
      - TECHNOLOGY=NordLynx  -> Not supported, only OpenVPN. So it will not be used.

Can you provide some logs maybe?

[2020-12-21 17:34] ChTPwner commented on #46
Sorry, those vars were a remnant of another image I used for nordvpn.
By default it selected a french server.

I updated my docker compose with your changes: still no success.

[code]

Nothing ssems abnormal in the container logs:
[code]

port 8118 not accessible:
[code]

[2020-12-21 18:09] Joentje commented on #46
Logs seems to be fine. Can you tell me what the state of the health check is?  I see some request for api.nordvpn.com that's is used for the health check.

[2020-12-21 18:53] ChTPwner commented on #46
[code]
I switched back to v1.0.3, and those "Request" line do not seem to ever appear.
I really don't think it can help solve the problem. but it is the only difference in the logs...

[2020-12-21 19:16] ChTPwner commented on #46
https://github.com/Joentje/nordvpn-proxy/pull/43/files

In the app/privoxy/run file why the '0' (zero) at the end of the 'gw' variable ?
[code]
Could it be the culprit ?

[2020-12-21 19:53] ChTPwner commented on #46
I tried locally building your image and running the same docker compose. It worked...

[2020-12-21 20:38] ChTPwner commented on #46
Well, it seems it was the issue after all.
I built the image on my server with the 0 removed and I could access my container as usual.

[2020-12-22 08:48] Joentje commented on #46
You are correct. Just did some test, by mistake this 0 was applied. Thanks for reporting/testing. #47 should fix it :+1:

[2020-12-22 08:49] #46 closed, assigned to nobody

[2020-12-22 08:52] ChTPwner commented on #46
Awesome!

[2020-12-22 08:56] Joentje commented on #46
You can try the latest image now

[2020-12-22 14:20] facaldoggi commented on #32
Same on my end, cannot access the proxy:

Tue Dec 22 11:19:23 2020 OPTIONS IMPORT: data channel crypto options modified
Tue Dec 22 11:19:23 2020 Data Channel: using negotiated cipher 'AES-256-GCM'
Tue Dec 22 11:19:23 2020 Outgoing Data Channel: Cipher 'AES-256-GCM' initialized with 256 bit key
Tue Dec 22 11:19:23 2020 Incoming Data Channel: Cipher 'AES-256-GCM' initialized with 256 bit key
Tue Dec

[2020-12-22 20:49] ChTPwner commented on #46
It is fixed now! Thanks

[2020-12-23 02:13] matt-laird commented on #32
@facaldoggi with your particular cause, you can't just curl the proxy endpoint. You'll have to use a proxy extension for your browser (like the one mentioned in the documentation) or point your network interface (or application) to the proxy itself.

[2020-12-31 14:16] steveoleary opened #48 "P2P Servers"
Hi,

love this image, thanks for putting it together. Would it be possible to allow an environment option to filter by server category, e.g, P2P. I understand that this isn't really relevant for the proxy per se but for people using the container as the network service to something else like a torrent client it could be a useful add?

[2020-12-31 17:46] Joentje commented on #48
Hi @steveoleary, thank you for your complement :). There is a Pull Request open for this, but it still needs some work. Check out #41

[2021-01-01 17:06] steveoleary commented on #48
Ah great, i'll take a look at that issue then, feel free to close this one in that case :-) Thanks

[2021-01-01 17:06] #48 closed, assigned to nobody

[2021-01-01 17:07] steveoleary commented on #48
Sorry, I'm such a newb haha, realised I could do it myself 🤦‍♂️

[2021-01-10 03:08] Kardoras commented on #32
@Joentje I have the same problem not being able to connect to the container on Debian and Rasbian. The port is exposed and confirmed that the port is available with nmap. It seems like my client is never hitting the container as I don’t see anything in the logs. I tried the exact compose file on my windows machine and everything worked perfectly locally and remote.

curl https://api.nordvpn.com/vp

[2021-01-10 06:29] Joentje commented on #32
@Kardoras, which version of the image are you using? Is the container status healthy? What for client do you use on debian or raspbian?

When you start the container, not all traffic will be per default use privacy. You will need to change clients settings to use this proxy. Like in Chrome you will need a extension to use this proxy for browsing in Chrome.

[2021-01-10 12:46] Kardoras commented on #32
@Joentje  I am using the latest version. Yes, the container status is healthy. I am not using any client on Debian or Raspbian. These servers are setup headless, and I am trying to connect to them remotely. I have other containers on these server that I can connect too without issue, even a nord one by  bubuntux/nordvpn:3.7.4 that I route some container through.

Yes, I totally understand that. I

[2021-01-17 02:01] SijmenHuizenga opened #49 "Better handle openvpn startup errors"
Hi there, Thanks a lot for this project, t has helped me out a lot. I really appreciate it!

* When an error occurs during the execution of `ovpn/run`, or one of the scripts it sources, `runsvdir` restarts the script immediately.
* The `api.nordvpn.com` endpoints are rate-limited through cloudflare.

So, if (for whatever reason) OpenVPN fails to start, the `ovpn.zip`, `api.nordvpn.com/server` and

[2021-01-17 02:56] SijmenHuizenga opened #50 "Filter recommended servers to only include vpn-capable servers"
Apparently, not all vpn servers support openvpn. Servers that do not support vpn are not included in the `ovpn.zip` folder.

At the moment, if you are unlucky and openvpn recommends a server that does not support openvpn, the problem described in #49 will happen because openvpn can't find the server file.

From what I can find, the `https://api.nordvpn.com/v1/servers/recommendations` does not supp

[2021-01-18 14:56] gerwim commented on #50
Ah, this is the same exact issue I actually had. My openvpn would not start because of it being unable to parse the configuration file.

The API does support filtering though, e.g.: `https://api.nordvpn.com/v1/servers/recommendations?filters[servers_technologies][identifier]=openvpn_udp&limit=1`.

I'll create a PR later this week.

[2021-01-18 16:21] gerwim commented on #50
@SijmenHuizenga I've made the (small) PR, and I just noticed you submitted a PR too. Ah well :-)

[2021-01-18 19:01] Joentje commented on #50
@SijmenHuizenga thank you for reporting. This is indeed crucial to make it work if somehow a server does not support a certain protocol. Just merged @gerwim PR that will solve this.

[2021-01-18 19:01] #50 closed, assigned to nobody

[2021-01-18 19:15] Joentje commented on #49
This is indeed an issue. When there is for some reason, like a filter issue in #50. It will retry over and over again. This is not ideal. Especially when you don't see the error, you probably are already hitting a rate limit.

Seems fair to me to say when Openvpn cannot connect, the container should fail.

[2021-01-19 14:38] ghost opened #53 "Healthcheck failing"
Hello, thank you for creating and maintaining this; it is an essential part of my project's infrastructure and I am very glad it exists.
I've been noticing the container going into an unhealthy state every few hours for no apparent reason, is this an issue with how I have it setup or something wrong internally?

Log: https://files.catbox.moe/v69g2n.txt
Of interest is the following message: `2021-0

[2021-01-27 20:49] Brandoskey opened #57 "Restrict to P2P servers option"
I don't see a way to do this currently. I intend to use this for deluge and I can specify a specific server now, but it would be nice to have an option to use a full list of available p2p specific servers so it can auto switch if needed

[2021-01-29 07:29] Joentje commented on #57
At this moment this is not possible. There are two PR #41 #54 open to make it possible to connect to like p2p servers. You can try them out, I didn't have the time to check them.

[2021-02-04 07:54] rcastberg opened #58 "Real ip revealed."
Hi,

I have set up the docker and it seem that my real ip is revealed when using a privacy checker.
https://ipinfo.info/html/privacy-check.php

I am assuming i can block : HTTP_X_FORWARDED_FOR, but i am not quite sure how.
Does anybody have an experience with this?

[2021-02-04 09:35] #58 closed, assigned to nobody

[2021-02-07 10:37] LaurenceMillward opened #59 "The country codes are known, skipping shuf: invalid number '-1'"
Heya,

Had been running this fine for about a month, decided to re-create the container and now it's throwing an error: "The country codes are known, skipping shuf: invalid number '-1'"

Looks like line 50 in develop/app/ovpn/servers_recommendations.sh is the culprit, any ideas on why/the fix?

**It's stuck in a loop of:**
2021-02-07 10:33:41 INFO: Download and extract ovpn files
2021-02-07 10:33:

[2021-02-07 14:24] #59 closed, assigned to nobody

[2021-02-09 00:00] mfrye opened #60 "Setting up in VPC with load balancer in front"
Thanks for creating this project. It seems to work pretty well locally, and I'm trying to test it out in my VPC in AWS now.

I think I'm close... I have it running in ECS, with a ALB pointing to a target group, and I'm able to hit it directly via curl (it returns a 400). I have the LOCAL_NETWORK set to the subnet cidr, in my case `172.31.51.32/27`.

It seems to just time out when trying to call it

[2021-02-09 06:42] Joentje commented on #60
I thinks this is the same issue #44. At this moment I have no idea. Probably a miss configuration at privoxy side that needs to be fixed.

[2021-02-18 13:33] BobWs commented on #53
Having the same problem

[2021-02-21 19:22] oddmario opened #61 "Does the NordVPN max connections limit apply here?"
Hello,

Just as the issue title says, does the max connections limit (6) apply to this project?

Kind regards.

[2021-02-22 07:10] Joentje commented on #61
Yes, this is not something that can be checked here. Maybe it works, but I guess not ;-)

[2021-02-23 08:39] #61 closed, assigned to nobody

[2021-03-03 12:02] drewkirkproductions commented on #32
I'm still not able to access privoxy even though it says the container is healthy. I'm not sure what else to try.

[2021-03-03 12:10] drewkirkproductions commented on #32
How exactly can I find this?

[2021-03-09 07:59] BobWs commented on #25
Closed due to no response!

[2021-03-09 07:59] #25 closed

[2021-03-10 08:28] Joentje commented on #25
This is not something that I want to add right now. Feel free to create a pull request.

[2021-03-17 12:08] Solaflex commented on #60
The reason for this issue is indeed the privoxy config. You have the default `listen-address  0.0.0.0:8118`  [(see here)](https://github.com/Joentje/nordvpn-proxy/blob/dcc8d7f6dba126d220f4c830a7f1a783c08b69fa/app/privoxy/config#L3)
You would need to change that into `listen-address :8118` to enable privoxy to accept traffic from any source IP and not only localhost (in this case the Docker host).

[2021-04-23 21:28] matt-laird opened #62 "Custom DNS IP's aren't used in OpenVPN"
For example, used Cloudflare resolvers:
![Screenshot 2021-04-23 232417](https://user-images.githubusercontent.com/14907718/115931228-12567f00-a48b-11eb-8332-1a37005cb595.jpg)
OpenVPN gets the default NordVPN DNS resolvers:
![Screenshot 2021-04-23 232301](https://user-images.githubusercontent.com/14907718/115931233-1387ac00-a48b-11eb-9672-ead30503b161.jpg)

[2021-04-27 21:19] brandomr opened #63 "Unable to connect on Mac (works on Ubuntu)"
Running this on a Mac with `Docker Desktop 3.3.1`. I am stuck in this loop:

[code]

Note that as of a month or so ago this worked fine for me on a Mac. The exact same run command/credentials *do work* for me on Ubuntu running `Docker Engine - Community Version: 20.10.5`

[2021-05-05 07:46] BobWs opened #64 "Country code set to UK server but connects to a NL server?!"
Hi,
When I set Country to UK nordvpn-proxy connects to a Random NL server, but when I set Country to CA it connects to a random CA server (which is good).
How is this possible? So how can I set nordvpn=proxy to connect to the UK servers?

Here's my log:

[code]

[code]

[2021-05-05 21:15] HVK500 commented on #64
This seems to be something Nord has done on their end, as the "API" that provides the country payload needed to provide you with a server endpoint is not returning any UK servers it seems, at trhe time of this comment of course (this could be temporary or permanent you will have to question Nord). If you navigate to [NordVPN servers_countries](https://nordvpn.com/wp-admin/admin-ajax.php?action=ser

[2021-05-05 21:18] matt-laird commented on #64
Try `GB` for the United Kingdom - [Code line that processes country payload from Nord](https://github.com/Joentje/nordvpn-proxy/blob/dcc8d7f6dba126d220f4c830a7f1a783c08b69fa/app/ovpn/servers_recommendations.sh#L32)
Below is example of the Nord Servers Countries payload:
![image](https://user-images.githubusercontent.com/14907718/117211082-d9a69600-adf8-11eb-9e3a-486e10640e56.png)

[2021-05-06 07:01] Joentje commented on #62
Thanks for reporting. Somehow this look indeed enforced to the Nordvpn DNS. Need to find some time to take a look :)

[2021-05-06 07:04] Joentje commented on #63
Strange that after a month it doesn't work anymore. Looks like a Openvpn issue. Maybe updating Openvpn could help.

[2021-05-06 07:09] Joentje commented on #64
This is indeed correct. If it does not have match, it will use what the api provides. Maybe it should be a bit improved in the docs as well where you can find the valid country codes -> [list](https://nordvpn.com/wp-admin/admin-ajax.php?action=servers_countries).

[2021-05-06 11:09] BobWs commented on #64
Okay thanks for the suggestion I will give it a try and let you know if it works!

[2021-05-06 11:25] BobWs commented on #64
Thanks it works, I’m connected to UK servers!🙏🎉
Closing this issue 👍

[code]

[2021-05-06 11:25] #64 closed, assigned to nobody

[2021-05-06 19:31] matt-laird commented on #62
Did some digging, seems you need to add some logic that appends the DNS options in the start command for OpenVPN.
Arguments to add would be something like this:
`openvpn --push "dhcp-option DNS 1.1.1.1"`
reference:
* https://openvpn.net/community-resources/how-to/#dhcp

[2021-05-13 19:38] kbebee commented on #63
Curious if you got it corrected. I'm having the same issue.

[2021-05-13 20:35] brandomr commented on #63
@scotthaleen keyed me into this being related to Mac Docker Desktop versions. I think if you update Docker Desktop it ought to work now, but haven't tried.

[2021-05-13 20:54] kbebee commented on #63
I can't believe I'm about to say this..but that worked. My desktop app wasn't updating so I just redownloaded it and it worked. Thanks.

[2021-05-13 20:54] #63 closed, assigned to nobody

[2021-05-13 20:58] scotthaleen commented on #63
There was definitely some issue with proxies reported on Docker "for-mac" version 3.3.1.  It seems they fixed them in 3.3.2+

[2021-06-04 14:09] dausruddin opened #67 "End-of-central-directory signature not found"
I got this error repeatedly:
[code]

My `docker-compose.yml` is:
[code]

[2021-06-04 14:12] dausruddin commented on #67
Also tagging @NealBozeman, as you had the [same issue ](https://github.com/Joentje/nordvpn-proxy/issues/32#issuecomment-727935379)

[2021-06-04 14:15] NealBozeman commented on #67
I had to switch, no longer using Nord

[2021-06-04 14:17] NealBozeman commented on #67
The issue in my case is that their network infrastructure had blocked my network. So, even if I populated the available VPN locations manually, I still couldn't connect

[2021-06-04 15:23] dausruddin commented on #67
Thank you. I am more interested into another VPN, so I switched as well. So, I'm closing this.

[2021-06-04 15:23] #67 closed, assigned to nobody

[2021-06-17 20:39] ghost opened #68 "IP leakage via Privoxy while retrying AUTH"
The container which fails, in this case nordvpn-2, has problems authentificating against NordVPN due to bad credentials.
Which is fine, but the privoxy won't wait for the openvpn connection and leak the real IP if the openvpn has problems.

OpenVPN tries to reconnect without any success.
[code]

but if you send a query via the privoxy, it will connect and go past whatever there is and directly con

[2021-07-02 06:54] matt-laird commented on #62
Closing this off as I better understand the OpenVPN server and client lifecycle now. This is not an issue, the OpenVPN client gets those settings pushed to it from the server and is forced to abide by those settings.

[2021-07-02 06:54] #62 closed, assigned to nobody

[2021-07-14 23:37] chryan opened #69 "Excessive connection spams with an expired account"
I wasn't able to grab any logs for this but I can describe the behavior I ran into.

1. My NordVPN account expired
2. nordvpn-proxy was spamming connection requests (and likely receiving errors)

This may also be reproducible with an invalid account.

This was download/uploading an average of 350GB **per day**.

[2021-08-04 11:38] D3000A opened #70 "Can't connect - connection keeps looping since upgrading to DSM 7"
Hi All,

I need some help please. I recently upgraded my DS with DSM7 and now the VPN container keeps lopping.  Below is a log.

<html>
<body>

8-04 11:32:02 | stdout | /app/ovpn/config/ovpn.zip.zip, and cannot find /app/ovpn/config/ovpn.zip.ZIP, period.
-- | -- | --
2021-08-04 11:32:02 | stdout | unzip:  cannot find zipfile directory in one of /app/ovpn/config/ovpn.zip or
2021-08-04 11:32:02 | st

[2021-08-17 11:17] ghost opened #71 "End-of-central-directory signature not found"
Maybe I'm missing something but when I follow the instructions I repeatedly get the following error message:
[code]

The example docker compose file hasn't been modified except for the username and password for NordVPN.

[2021-08-18 07:21] Joentje commented on #71
Can you post your docker-compose file?

[2021-08-20 08:00] ghost commented on #71
The command from README.md was used, not a docker-compose file. /app/ovpn/config/ was available in both scenarios.
**After resetting the system (Ubuntu 20.04) and re-downloading the repository everything works fine.**
"Unfortunately" I can no longer re-produce the problem.

[code]

[2021-08-20 08:00] #71 closed, assigned to nobody

[2021-09-10 11:07] jollyjester commented on #70
Same for me..
I can add some more information.  The reason for the zip is that it's looping trying to get the ovpnfile which basically get's you banned and you end up with a zip containing "too many request".  If you leave it for a while you get unbanned and get further which basically  then downloads the zip but you end up with a empty directory at the end of the proccess as the extraction is goi

[2021-09-13 10:14] salvq opened #72 "IP leakage when changing the server"
There is an IP leakage when changing the server (i.e. openvpn restarts due to server overload)

When you kill the service, your original IP is leakage until connection is established to new server

[https://github.com/Joentje/nordvpn-proxy/blob/dcc8d7f6dba126d220f4c830a7f1a783c08b69fa/app/ovpn/get-status-server.sh#L18](https://github.com/Joentje/nordvpn-proxy/blob/dcc8d7f6dba126d220f4c830a7f1a783c

[2021-09-13 12:17] salvq commented on #68
This behaviour is due to openvpn does not kill connection when chaning the server (have not checked firewall rules yet).

When you kill the openvpn service, your IP is leaked until the connection to server is reastablished...when using nordvpn application in linux, they have a feature called killswitch which take care of this behaviour.

[2021-09-24 22:05] jollyjester commented on #70
Okay Fixed it...it seems stupid but do the following
Stop the container, go into Edit and uncheck running it with higher privileges. Start the container again and it will error out. Stop the container again, Go back into Edit and check the running with higher privileges again and it should work.
I found this on a forum about another openvpn client docker  and it fixed it for me...

[2021-09-26 10:45] Joentje commented on #72
Any suggestions? When using Docker networking, and there is no vpn connection, does it still work for you?

[2021-09-27 19:39] salvq commented on #72
Yes, when you kill the connection to VPN server, you are connected to internet without VPN.

One suggestion would be to figure out iptables and ip route parameters but I do not know all the details yet, just started learning about that.

Another option is to use nordvpn application for linux which provide feature called killswitch and will do the ip tables for you. However there is an issue to acc

[2021-10-02 06:12] #49 closed, assigned to nobody

[2021-10-02 06:12] #70 closed, assigned to nobody

[2021-10-02 06:12] #42 closed, assigned to nobody

[2021-10-10 07:09] gkovacsp opened #74 "Cannot open TUN/TAP dev /dev/net/tun: No such device"
**Describe the bug**
Container is not able to start, Errors out with the following remaining a contiuous start loop:

`ERROR: Cannot open TUN/TAP dev /dev/net/tun: No such device (errno=19)`

**To Reproduce using docker CLI**
Full command needs to be provided (hide credentials)

[code]

I've added `--device /dev/net/tun` because it was suggested in one issue description, but the problem is the ver

[2021-10-22 09:43] mikolajskorupa commented on #29
@seb2point0 @Joentje
Sending "killall openvpn" using exec also seems to do the job without restarting the container.

[2021-11-08 12:18] marlarius opened #75 "Country option not working"
I can't get the country option working.

I add the env variable with **-e "COUNTRY=uk"** but it still gives me a random NordVPN IP for my current country.

If I am using the option incorrectly, please advice.

[2021-11-08 13:44] charliwest commented on #75
https://github.com/Joentje/nordvpn-proxy/issues/64

[2021-11-08 13:47] marlarius commented on #75
Works. Thanks!

[2021-11-08 13:49] #75 closed, assigned to nobody

[2021-12-09 16:02] strictboss commented on #72
Any improvements for the issue? Really nice project idea. I like that, but killswitch is needed!

[2021-12-13 11:24] strictboss commented on #72
@salvq Maybe you really can improve the project in the context of working killswitch?

[2021-12-28 17:58] alpe12 opened #76 "Question: Can VPN be used only by privoxy?"
I don't want it to make other containers or the local network secure.
I only want it to serve as a proxy, so that clients that want it, will configure their machines.
Is it possible? Thanks.

[2021-12-28 18:22] Joentje commented on #76
Yes, this is only possible by using privoxy

[2021-12-28 20:14] #76 closed, assigned to nobody

[2021-12-29 16:01] alpe12 commented on #19
@Joentje  any update?

[2021-12-29 16:31] Joentje commented on #19
No, feel free to submit a PR :)

[2022-01-03 13:17] BobWs commented on #19
🤪 Switched over to SurfShark...

[2022-01-04 08:53] zilexa commented on #19
Perhaps inspiration from this tool can help:
https://github.com/thrnz/docker-wireguard-pia

Since NordVPN does not have a port forwarding feature, something that is required for torrents, j switched to PIA. Amazingly, it automatically changes and switches to fastest server and it can configure QBittorrent port automatically. It also utilises PIA's Wireguard implementation giving me speeds of 40MB/

[2022-02-11 22:16] napoleon1bonaparte opened #77 "Parse error"
Hello,
I did some research but couldn't find an answer to my problem.
I get the error "parse error: Invalid numeric literal at line 1, column 6".
It seems that this error occurs after downloading and unzipping ovpn configurations.

Here are the container docker logs:

2022-02-11 23:06:21 INFO: SERVER has been set to FR589.NORDVPN.COM
parse error: Invalid numeric literal at line 1, column 6
2022-02

[2022-02-12 06:26] Joentje commented on #77
Can you try to remove te volume? Maybe you don't have write access.

[2022-02-12 09:22] napoleon1bonaparte commented on #77
I get the same error when entering a path to a local folder instead of a volume.

[2022-02-19 19:09] ChTPwner commented on #77
``it seems the errors comes from the servers_recommandations.sh

[code]
the following command returns a 429  code: Too Many Requests.

[code]

[2022-02-19 19:19] ChTPwner commented on #77
I fixed my issue by setting up the server via the SERVER environment variable.

EDIT: clarification

[2022-02-21 16:43] napoleon1bonaparte commented on #77
Do you mean, fill in a server in the "SERVER" environment variable ?

[2022-02-21 19:22] ChTPwner commented on #77
yes

[2022-02-21 19:50] napoleon1bonaparte commented on #77
Ok, I wanted to make sure I understood correctly.
Look at my first post, I correctly informed a server. I did several tests with different configurations and sometimes I don't have this problem without understanding.

[2022-04-07 19:13] demianrey commented on #77
Hi, someone was able to solve this error, it worked correctly for me with the env variable, but now I get this parse error

[2022-04-09 00:13] bhups2k opened #78 "Unable to connect containers with ports (e.g. lscr.io/linuxserver/qbittorrent)"
I'm trying to set up lscr.io/linuxserver/qbittorrent to connect to nordvpn-proxy, but it is not possible due to the ports used on lscr.io/linuxserver/qbittorrent.

How can one set this up so we are able to use such containers via nordvpn-proxy?

I can only get lscr.io/linuxserver/qbittorrent to run if I remove the ports from the config, but then its no use as I cannot access the portal.

I'm only

[2022-04-15 07:52] declan-wade commented on #78
Having this issue too - it has been working for serveral months and has now fallen over. I have both nordvpn_proxy and lscr.io/linuxserver/qbittorrent on the same bridge network (not the default bridge, but a custom 'named' bridge so I can resolve by hostname) but pinging the contianer name comes back with 'bad address'.

[2022-07-04 13:34] nicholasyoannou opened #79 "Got a problem trying to access this externally"
Just a general issue: trying to access this externally (trying to connect IP:8118), but it's not connecting - even opening the port via UFW (am using Ubuntu Linux) doesn't do anything.

Tried using NGINX as a reverse proxy, and the webpage is returned, but using: IP, port as 80/443 (due to NGINX reverse proxy, can't use 8118 as that's already taken by the Docker instance), that returns `400 Bad Re

[2022-07-04 14:59] nicholasyoannou commented on #79
Figured it out!
Thanks to a comment from Solaflex, #60 , was able to figure out the problem.
Turns out you just needed to edit the privoxy config and remove `0.0.0.0` from it.

# Step by step
1. Go into Docker instance (`docker ps -a` to find container ID, `docker exec -u 0 -it [container ID] /bin/sh` to go into it)
2. Edit /etc/privoxy/config and find `listen-address`, removing the default `0.0.0

[2022-07-04 20:33] nicholasyoannou commented on #79
Actually, got one new problem.
Seems I mucked up the ports when I was setting it up. It worked temporarily but stopped working. After I did a bit of a fiddle with it, I found that executing `docker port` for my container got me two ports:
[code]

(yea, I changed the ports instead to 9993 instead of the original due to what is already on that port on my machine)

[2022-07-04 20:34] nicholasyoannou commented on #79
If this is why, how do I manage the ports so it's just one or the other, and which one would I remove?

[2022-07-05 07:01] nicholasyoannou commented on #79
`Tue Jul  5 08:01:09 2022 ERROR: Cannot open TUN/TAP dev /dev/net/tun: No such file or directory (errno=2)`
Am now getting this error.

[2022-07-05 22:45] nicholasyoannou commented on #79
Fixed the tunnel issue myself. It's just ....when I connect to the VPN, privoxy doesn't expose the port outside of the machine, only kept within localhost.
Whereas when the VPN isn't connected, privoxy works out the machine. Not sure how I'd go about fixing this

[2022-07-26 04:44] mrahmadt opened #80 "Running 6 instances"
Hello

What do you think is the best way to run 6 instances (containers) with different VPN servers?

I want to run multiple applications with random ips

Thanks

[2022-07-26 05:46] BobWs commented on #80
NordVPN allows only 5 simultaneous OpenVPN clients. If you want to run 6 containers at the same time they will be classified as simultaneous clients so IMHO it will not work. But if you want to be sure give it a try!

[2022-07-26 05:53] mrahmadt commented on #80
Thanks BobWs

what about 5 simultaneous connection, how is it possible to do it making sure it will connect to different VPN servers?

[2022-07-26 14:50] BobWs commented on #80
I guess you could try it! Make sure to give all your containers a unique name and port number (the host port). Then configure the VPN’S you want to connect to.